.full-view-height {
    height: 100vh;
    margin-right: 0px;
}

.full-height {
    height: 100%;
}

.flex-display {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.center-alignment {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.letter-button {
    display: inline-block;
}

.letter-button:disabled {
    opacity: 0.5;
    color: black;
}

#keyboard {
    width: 100%;
    text-align: center;
}

.secretWord {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 3rem;
}

.win {
    color: green;
    font-size: 5rem;
}

.lose {
    color: red;
    font-size: 5rem;
}

.justify-content-space-even {
    justify-content: space-evenly;
}

.game-info-container {
    width: 600px;
    height: 75px;
}

.flex-display {
    display: flex;
}

#game-title {
    font-size: 4em;
    margin-bottom: 20px;
}

.guessed {
    background-color: grey;
}