#gameScreen {
    display: none;
}

.full-view-height {
    height: 100vh;
    margin-right: 0px;
}

.full-height {
    height: 100%;
}

.flex-display {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.center-alignment {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

#game-title {
    font-size: 4em;
    margin-bottom: 20px;
}

.create-game-container {
    margin-bottom: 20px;
}

#join-game-icon {
    font-size: 40px;
    margin-bottom: 15px;
}

.snake-color-row {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border-radius: 4px;
}

.snake-color-row:hover {
    cursor: pointer;
}

.snake-color-picker-title {
    text-align: center;
}

.justify-content-space-even {
    justify-content: space-evenly;
}

.game-info-container {
    width: 600px;
    height: 75px;
}

.player-identifier {
    margin-bottom: 0px;
}

#countdown {
    position: absolute;
    top: 325px;
    color: white;
}

.gamescreen-countdown-big {
    font-size: 500%;
    opacity: 0;
    transition: all linear 1s;
    color: white;
    position: absolute;
    top: 325px;
}